<html>
<head>
  <title>ucuddle</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/ucuddle_logo.png') }}">

  <!-- Fonts -->
  <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" />

  <!-- Main stylesheet -->
  <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet" />
</head> 
<body>
  <header>
    <a href="/" class="title-small">
      <h1 class="title">ucuddle</h1>
    </a>
    <div class="search-container">
      <input id="search" type="text" placeholder="Шукайте в ucuddle" value="{{ data.query }}">
      <ul class="drop"></ul>
    </div>
    <a href="/" class="title-big">
      <h2 class="title">ucuddle</h2>
    </a>
  </header>
  <main>
    <p class="meta-data"> Kількість результатів: {{ data.websites|length }}</p>
    <ul class="content">
      {% for website in data.websites[:10] %}
       <li>
        <span>{{ website.link[:40] }}</span>
        <a href="{{ website.link }}">
          <h2>{{ website.title }}</h2>
        </a>
        <p>{{ website.highlight + "..." }}</p>
      </li>
      {% endfor %}

    </ul>
    <button class="load-more" id="more" start="10" end="20" search="{{ data.query }}">Завантажити більше</button>
  </main>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/4ca9a98a81.js"> </script>

<!-- Custom Scripts -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
