* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat-Regular;
}

body {
    min-height: 100vh;
    color: #5f6368;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

a:active, a:visited, a:focus,
button:active, button:visited, button:focus,
button:hover {
  text-decoration: none;
  outline: none;
}

input#search {
    color: inherit;
    padding: 12px 20px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    outline: none;
    border: 0.5px solid #d1d1d1;
    border-bottom: 0;
    font-size: 15px;
    color: black;
}

.title {
    font-size: 40px;
    font-family: Montserrat-Bold;
    display: inline-block;
    color: #EA7D22;
    width: calc(30% - 4px);
    text-align: right;
    margin-right: 10%;
}

.drop {        
    background: #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 0;
    overflow: hidden;  
    border: 0.5px solid #d1d1d1;
    border-top: 0;
    transition: .4s height;
    position: absolute;
    width: 100%;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}

.drop a {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
}

.drop a:hover {
    background-color: #e0dfdc;
}

.drop li {
    font-size: 15px;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #EA7D22;
    background-color: white;
}

.search-container {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 4px);
    margin-left: 10%;
    position: relative;
}

.title-small {
    display: none;
}

@media (max-width: 767px) {
  .title, .search-container {
    width: 100%;
    padding: 5px 20px;
    margin: 0;
    text-align: center;
  }

  .title-small {
    display: block;
  }

  .title-big {
    display: none;
  }
}


/* main */

main {
    padding: 80px 0;
}

.content li {
    padding: 20px 10%;
    list-style-type: none;
    /*border-bottom: 1px solid #d1d1d1;*/
}

.content li a h2:hover{
    text-decoration: underline;
}

.content li span {
    font-size: 13px;
}

.content li h2 {
    font-size: 23px;
    font-family: Montserrat-Bold;
    text-align: justify-all;
    color: #228FEA;
    margin: 5px 0;
}

.content li p {
    font-size: 17px;
}


@media (max-width: 767px) {
    main {
        padding: 150px 0;
    }

    .drop {
        width: calc(100% - 40px);
        text-align: left;
    }
}

.meta-data {
    padding: 10px 10%;
    font-size: 14px;
}

.load-more {
    color: #EA7D22;
    margin: 50px 10% 10px 10%;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-family: Montserrat-Bold;
    font-size: 20px;
}

.load-more:hover {
    text-decoration: underline;
    cursor: pointer;
}





